.input {
  box-sizing: border-box;
  width: 100%;
  color: var(--input-text-color);
  font-size: 16px;
  padding: 10px;
  height: 40px;
  background-color: var(--input-background-color);

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
  
  &::placeholder {
    color: var(--input-placeholder-text-color);
  }
}
