body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// reset styles - start

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// reset styles - end

.rc-pagination-simple .rc-pagination-simple-pager input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border-radius: 6px;

  &:hover {
    border-color: #e00027;
  }
}
.rc-pagination-next, .rc-pagination-prev {
  border-radius: 6px;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}
.rc-pagination-item-link::after {
  color: var(--input-text-color);
  background-color: var(--pagination-button-bg-color);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}