@use "./../../assets/common/fonts";

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  max-width: 700px;
  width: 100%;

  &Input {
    border-radius: 6px 0 0 6px;
    transition: all .3s;
    border: 2px solid #a5a5a5;
    border-right: none;
  }

  &Submit {
    border-radius: 0 6px 6px 0;
    fill: #fff;
    padding: 6px 13px;
  }
}
