@use "./../../assets/common/fonts";

.button {
  font-family: fonts.$roboto;
  cursor: pointer;
}

/* skins - start */

.zeroStyle {
  color: #000;
}

.primary {
  padding: 10px 15px;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 20px;
  line-height: 1.2;
}

.icon {
  padding: 9px;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.text {
  line-height: 1.2;
}

/* skins - end */

/* size - start */

.text.small {
  font-size: 12px;
}

.text.medium {
  font-size: 16px;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.text.large {
  font-size: 20px;
}

.text.xLarge {
  font-size: 24px;
}

.icon.medium {
  width: 40px;
  height: 40px;
}

.icon.large {
  width: 50px;
  height: 50px;
}

/* size - end */
