html[data-theme='light'] {
  --input-text-color: #1C1E21;
  --input-placeholder-text-color: #a7a7a7;
  --input-background-color: #ffffff;

  --form-background-color: #fff;

  --fill-color: #000;
  --hover-color: #EDEDED;
  --background-color: #fff;
  --text-color: #1C1E21;
}

html[data-theme='dark'] {
  --input-text-color: #e3e3e3;
  --input-placeholder-text-color: #ddd;
  --input-background-color: #000;

  --form-background-color: #303030;

  --fill-color: #fff;
  --hover-color: #757575;
  --background-color: #1b1b1d;
  --text-color: #e3e3e3;
}
