.account {
  &Title {
    margin-bottom: 20px;
    
    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  &ActivationMsg {
    display: block;
    color: #e00027;
    margin-bottom: 20px;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
  
  &NoActivationMsg {
    display: none;
  }

  &Box {
    width: 100%;
    background-color: var(--form-background-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 12px;

    @media screen and (max-width: 600px) {
      padding: 10px;
    }
  }

  &List {
    list-style: none;
  }

  &ListItem {
    text-decoration: none;
    
    & + & {
      margin-top: 10px;
    }

    &:last-child {
      border-top: 1px solid #c1c1c1;
      padding-top: 10px;
    }
  }
  
  &ListItemButton,
  &ListItemLink {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    border-radius: 6px;
    transition: all .2s;
    color: var(--text-color);

    @media screen and (max-width: 600px) {
      padding: 10px;
      font-size: 14px;
    }

    & svg {
      fill: var(--fill-color);
      margin-right: 15px;
    }

    &:hover {
      background-color: var(--hover-color);
    }
  }
}
