.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  background-color: var(--background-color);
}

.layoutTop {
  position: sticky;
  top: 0;
}

.layoutTop,
.layoutBottom {
  flex: 0 0 auto;
}

.layoutCenter {
  height: 100%;
  flex: 1 0 auto;
  color: var(--text-color);
}

.layoutContent {
  height: 100%;
}
