.layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.layoutTop,
.bottomBar {
  flex: 0 0 auto;
}

.layoutCenter {
  height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
}

.layoutContent {
  height: 100%;
}
