@use './../../assets/common/container';


.screen{
  @extend %container;
}

.categories {
  &List {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 0 -10px;
    overflow-x: auto;
  
    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: 600px) { 
      font-size: 14px;
    }
  }
  
  &Item {
    width: 100%;

    & + & {
      margin-left: 15px;
    }
  }
  
  &ItemLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    height: 150px;
    min-width: 100px;
    padding: 10px;
    background-color: var(--form-background-color);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: all .3s;

    &:hover {
      box-shadow: var(--box-shadow-hover);
      background-color: var(--hover-color);
    }

    & svg {
      margin: 0 auto 10px;
      fill: var(--fill-color);
    }
  }
}